<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/rohini/IdeaProjects/open cart clone"><classes><class name="StepFiles.productpage"><methods><include name="T_case11"/><include name="T_case11_1"/><include name="T_case11_2"/><include name="T_case11_3"/><include name="T_case21"/><include name="T_case21_1"/><include name="Task5"/><include name="Task5_1"/><include name="Task5_2"/><include name="Task5_3"/><include name="Task5_4"/><include name="Task5_5"/><include name="Task5_6"/><include name="Task5_9"/><include name="Task5_8"/><include name="Task5_7"/><include name="Task5_10"/><include name="Task8"/><include name="Task9"/><include name="Task7"/><include name="Task6"/><include name="SamsungWishlist"/></methods></class></classes></test></suite>